{
  "env": {
    "es2021": true
  },
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/eslint-recommended", "prettier"],
  "plugins": ["prettier"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module",
    "tsconfigRootDir": "./",
    "project": "tsconfig.json"
  },
  "rules": {},
  "ignorePatterns": ["db/**/*", "src/types/**/*", "src/model/generated/**/*"]
}
